/* Import font */
@font-face {
    font-family: 'MomTypewriter';
    src: url('./font/MomsTypewriter.woff2') format('woff2'),
        url('./font/MomsTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #000000;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    font-family: 'MomTypewriter';
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 82.5%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } 

a {
    color: inherit;
    
  }

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
  }

/* Reusable classes */

.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* Header */
.header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;

} 

.grid { 
    display: grid;
    position: absolute;
    top: 3.5rem;
    grid-template-columns: repeat(8,12.5%);
    grid-gap: 20px;
    align-items: stretch;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }

.navbar{
    text-align: center;
    justify-content: space-between;

}

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */


/* Newsletter */

/* Footer */

/* Scrollbar styles */

/* Blog post */

.blog-post{
    padding-bottom: 5rem;
}

.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 6rem); 
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%;
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
}

/* Media queries */